In [5]:
import pandas as pd
import edhec_risk_kit as erk
import numpy as np

In [2]:
me_m = pd.read_csv(
        "resources/data/Portfolios_Formed_on_ME_monthly_EW.csv",
        header=0,
        index_col=0,
        parse_dates=True,
        na_values=-99.99,
    )
rets = me_m[["Lo 20", "Hi 20"]]
# rets.columns = ["SmallCap", "LargeCap"]
rets = rets / 100
rets.index = pd.to_datetime(rets.index, format="%Y%m").to_period("M")

/tmp/ipykernel_32514/1013287974.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  me_m = pd.read_csv(

In [3]:
rets

          Lo 20   Hi 20
1926-07 -0.0057  0.0333
1926-08  0.0384  0.0233
1926-09 -0.0048 -0.0009
1926-10 -0.0329 -0.0295
1926-11 -0.0055  0.0316
...         ...     ...
2018-08  0.0309  0.0249
2018-09 -0.0204  0.0019
2018-10 -0.1052 -0.0741
2018-11 -0.0278  0.0249
2018-12 -0.1477 -0.0921

[1110 rows x 2 columns]

In [37]:
# 1 & 3
n_months = rets.shape[0]
((rets + 1).prod()**(12/n_months) - 1) * 100

Lo 20    15.197701
Hi 20     9.849021
dtype: float64

In [38]:
# 2 & 4
(rets.std()*np.sqrt(12)) * 100

Lo 20    33.670128
Hi 20    19.511604
dtype: float64

In [39]:
# 5 & 7
n_months = rets["1999":"2015"].shape[0]
((rets["1999":"2015"] + 1).prod()**(12/n_months) - 1) * 100

Lo 20    11.442634
Hi 20     6.286512
dtype: float64

In [40]:
# 6 & 8
(rets["1999":"2015"].std()*np.sqrt(12)) * 100

Lo 20    22.889447
Hi 20    17.271332
dtype: float64

In [12]:
# 9
-erk.drawdown(rets["1999":"2015"]["Lo 20"])["Drawdown"].min()

0.6248092431236988

In [14]:
# 10
erk.drawdown(rets["1999":"2015"]["Lo 20"])["Drawdown"].idxmin()

Period('2009-02', 'M')

In [15]:
# 11
-erk.drawdown(rets["1999":"2015"]["Hi 20"])["Drawdown"].min()

0.5527349978713653

In [16]:
# 12
erk.drawdown(rets["1999":"2015"]["Hi 20"])["Drawdown"].idxmin()

Period('2009-02', 'M')

In [17]:
hfi = erk.get_hfi_returns()

/home/boa50/Desenvolvimento/investment-management/introduction-to-portfolio-construction/edhec_risk_kit.py:50: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  hfi = pd.read_csv(

In [22]:
# 13 & 14
erk.semideviation(hfi["2009":"2018"]).sort_values()

Fixed Income Arbitrage    0.003321
Merger Arbitrage          0.003611
Global Macro              0.005075
Equity Market Neutral     0.005186
Relative Value            0.005711
Convertible Arbitrage     0.006681
Funds Of Funds            0.007948
Distressed Securities     0.009498
Event Driven              0.010135
CTA Global                0.010996
Long/Short Equity         0.012139
Emerging Markets          0.015276
Short Selling             0.021240
dtype: float64

In [24]:
# 15
erk.skewness(hfi["2009":"2018"]).sort_values()

Equity Market Neutral    -0.896327
Funds Of Funds           -0.646908
Merger Arbitrage         -0.551065
Event Driven             -0.488821
Long/Short Equity        -0.463703
Distressed Securities    -0.254944
Emerging Markets          0.033123
CTA Global                0.052062
Relative Value            0.159953
Global Macro              0.348184
Short Selling             0.456518
Fixed Income Arbitrage    1.121453
Convertible Arbitrage     1.305911
dtype: float64

In [25]:
# 16
erk.kurtosis(hfi["2000":"2018"]).sort_values()

CTA Global                 2.845022
Global Macro               3.653278
Short Selling              4.352758
Long/Short Equity          4.472589
Merger Arbitrage           4.520785
Event Driven               5.543444
Emerging Markets           5.941289
Distressed Securities      6.231720
Funds Of Funds             7.584725
Relative Value            12.731096
Equity Market Neutral     20.329621
Convertible Arbitrage     23.001449
Fixed Income Arbitrage    33.378729
dtype: float64